.app__container{
    display: flex;
    margin-top: 10vh;
}

.app__main{
    width: 500px;
}
// .contaier{
//     background: #000;
//     &.acto{}

//     .list{
//         ....


//         .item
//     }
// }
.app{
    &__container{
        display: flex;
        margin-top: 10vh;
    }

    &__main{
    width: 500px;
}
}