@import "../../base.scss";
.announce {
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(70, 70, 70, 0.2);

  width: 100%;
  height: auto;

  &__all {
    text-align: right;
    color: #388696;
    font-weight: 700;
  }

  &__title {
    top: 0;
    left: 0;
    margin-bottom: 1rem;

    align-items: start;
    h2 {
      font-weight: bold;
      font-size: x-large;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;

    &__single {
      display: flex;
      flex-direction: row;

      padding-bottom: 2rem;

      &__prof {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        font-size: large;
        font-weight: bold;

        width: 30%;

        p {
          margin-bottom: 0;
        }
      }
      &__content {
        font-size: medium;
        width: 70%;

        color: gray;
      }
    }
  }
}

.course {
  font-size: medium;
  font-weight: 400;

  color: gray;
}

.prof__icon {
  margin-right: 0.5rem;
}

.vertical {
  top: 0;

  margin-top: 0;
  left: 50%;
  margin-inline: 1rem;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: gray;
}

.loader {
  align-items: center;
  justify-content: center;
  margin: auto;
}

@media (max-width: 766px) {
  .announce {
    margin-bottom: 1rem;
    &__data {
      &__single {
        flex-direction: column;
      }
    }
  }
}
