@import "../../_base.scss";

.sidebar {
  //   background: $black-secondary;
  background: linear-gradient(to bottom, #12567b, #388696);

  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;
  padding-top: 2rem;
  padding-left: 0rem;
  gap: 2rem;
  transition: transform 0.2s ease-in;
  align-items: left;
  overflow: hidden;
  position: sticky;
  top: 10vh;
  left: 0;

  &__link {
    align-items: center;
    text-decoration: none;
    gap: 2rem;
    background: transparent;

    &:hover {
      background-color: $hover-color;
      .sidebar__icon,
      p {
        color: black !important;
      }
    }
  }

  &__icon {
    background: none !important;
  }

  @media (max-width: 768px) {
    /* Add your styles for smaller screens here */
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0.2rem 0;
    gap: 1rem;
    cursor: pointer;
    background: transparent;

    p {
      background: transparent;
    }
    &:hover {
      color: #2ad6ba;
    }
  }

  &.open {
    transform: translateX(0);
  }
}

// @media (max-width: $breakpoint-medium) {
//     .sidebar{
//         width: 90px;

//         li {
//             justify-content: center;
//         }

//         span{
//             display: none;
//         }
//     }

// }
