@import "../../_base.scss";

.sidebar {
  //   background: $black-secondary;
  background: linear-gradient(to bottom, #12567b, #388696);
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 100vh;
  padding-top: 2rem;
  padding-left: 0rem;
  gap: 2rem;
  transition: transform 0.2s ease-in;
  // align-items: center;
  // text-align: left;
  overflow: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;

  &__image {
    background: transparent;
    max-width: 150px;
    margin: auto;
  }

  &__link {
    // align-items: center;
    text-decoration: none;
    display: flex;
    align-items: left;
    gap: 1rem;
    background: transparent;

    &:hover {
      background-color: $hover-color;
      .sidebar__icon,
      p {
        color: #53c8c5;
      }
    }
  }

  &__icon {
    // background: none !important;
    color: white;
    &:hover {
      color: white;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    margin: 0.2rem 0;
    gap: 1rem;
    cursor: pointer;
    background: transparent;

    p {
      background: transparent;
      color: white;
    }
  }

  &.open {
    transform: translateX(0);
  }
}

// @media (max-width: $breakpoint-medium) {
//     .sidebar{
//         width: 90px;

//         li {
//             justify-content: center;
//         }

//         span{
//             display: none;
//         }
//     }

// }
