@import "../../base.scss";

.header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: white;

  justify-content: space-between;
  align-items: center;

  padding: 1rem 0.5rem 1rem 2rem;

  height: 13vh;
  width: 100%;
  z-index: 999;

  h1 {
    color: rgb(133, 133, 133);
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0;
  }
  button {
    width: 70px;
    border: none;
    color: #55abbd;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &__menu {
    color: #388696;
    margin-inline: 2rem;
    display: none;
  }

  &__nav {
    display: flex;
    margin: 2rem;
    gap: 1rem;
    align-items: center;

    form {
      display: flex;
      align-items: center;
      margin: 2rem;

      padding: 0.2rem;
      padding-left: 0.5rem;

      border-radius: 1rem;
      border: 1.5px solid;
      border-color: rgb(201, 201, 201);

      input {
        padding-left: 1rem;
        width: 20rem;
        font-size: medium;
        border: 0;

        &:focus {
          outline: none;
        }
      }

      button {
        border: 0;
        background: transparent;
      }
    }

    &__icon {
      color: #388696;
      margin: 0.2rem;
    }
  }
}

@media (max-width: 880px) {
  .header {
    padding: 1rem;

    form {
      display: none;
    }

    &__logo {
      display: none;
    }

    &__icons > *:not(img) {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__menu {
      display: none !important;
    }
  }
}
